<% if signed_in? %>
  <div class="medium-4 columns">
    <div class="right margin-right">
      <a href="#" data-dropdown="drop1" class="button dropdown">Options</a>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <% if current_user.groups.include?(@group) %>
          <li><%= link_to "Leave Group", group_member_path(@group, @member), method: :delete %></li>
        <% end %>
        <% if current_user.managed_groups.include?(@group) %>
          <li><%= link_to "Edit Group", edit_group_path(@group)%></li>
          <li><%= link_to "Delete Group", group_path(@group), method: :delete %></li>
        <% end %>
      </ul>
    </div>
    <% unless current_user.groups.include?(@group) %>

    <div class="right margin-right">
      <%= form_for ([@group, @member]) do |f| %>
      <p><%= f.submit 'Join Group', class: "button" %></p>
    <% end %>
    </div>
    <% end %>
  </div>
</div>
<% end %>
