<div class="container">



<%= render "lead_image" %>


<%= render "title_panel" %>


<%= render "search_bar" %>


<div class="panel group-panel">
  <div class="large-12 columns large-centered">
    <%= render "group_panel" %>
  </div>
</div>

    <%= render "image_panel" %>

</div>
