<div class="container">



<%= render "lead_image" %>
<%= render "title_panel" %>
<%= render "search_bar" %>

<%= render "blank_panel" %>

<%= render "info_panel" %>


<%= render "user_panel" %>


<%= render "image_panel" %>


<%= render "group_panel" %>


</div>
