<div class="columns medium-12">

<div class="row">
  <div class="medium-12 columns">
    <div class="panel post-color radius top-margin padding-left padding-top columns">
      <div class="medium-8 columns">
        <h2 class="white-text"><%= @group.title %></h2>
        <p class="white-text">Description: <%= @group.description %></p>
        <p class="white-text">Created by: <%= @group.owner.sname %></p>
      </div>
      <%= render "group_option_join" %>
    </div>
  </div>


<div class="row">
  <div class="medium-3 columns ">
    <div class="panel radius post-color">
      <% if signed_in? %>
      <a href="#"><%= image_tag current_user.profile_photo.medium, class: "show_profile_img center" %></a>
      <div class="top-margin">
        <h3><a href="#"><%= current_user.sname %></a></h3>
        <% end %>
          <h5 class="title white-text">Popular Groups</h5>
      </div>
    </div>
  </div>


  <div class="medium-6 columns">
    <div class="row">
      <div class="medium-2 columns small-3"></div>
        <div class="medium-12 columns">
          <% if signed_in? %>
            <%= form_for([@group, @post]) do |f| %>
              <%= f.label :body, "Post:" %>
              <%= f.text_area :body, size: "5x5" %>
              <div class="carrier-wave-field medium-6 columns">
                <%= f.file_field :post_photo %>
              </div>

              <div class="medium-6 columns">
                <p><%= f.submit 'Post', class: "small button right" %></p>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>

    <div>
      <h4>Latest posts:</h4>
    </div>
    <hr/>

    <div class="row">
      <div class="medium-12 columns">
      <% @post_order.each do |post| %>
        <% unless post.user_id == nil %>
          <% @user = User.find(post.user_id) %>
          <div class="panel radius row user_name post-color">
            <p class="post_show"><%= @user.sname %>:</p>
            <p><%= image_tag(post.post_photo) %></p>
            <p class="post_show"><%= post.body %></p>
          </div>
          <div class="medium-12 ">
          <ul class="button-group inline-list right">
            <li><a href="">Reply</a></li>
            <% if signed_in? %>
              <% if current_user.id == post.user_id %>
                <li><%= link_to "Edit Post", edit_group_post_path(@group, post) %></li>
                <li><%= link_to "Delete Post", group_post_path(@group, post), method: :delete %></li>
                <% end %>
              <% end %>
          </ul>
        </div>
        <hr/>


          <% end %>
        <% end %>
    </div>
  </div>
</div>



  <aside class="medium-2 columns hide-for-small">
  </aside>

</div>


</div>


<footer class="row">
  <div class="medium-12 columns">
    <hr/>
    <div class="row">
      <div class="medium-5 columns">
        <p>©rogehaus</p>
      </div>
      <div class="medium-6 columns">
        <ul class="inline-list center">
          <li><%= link_to "Home", root_path %></li>
          <li><a href="#">Create Group</a></li>
          <li><a href="#">Section 3</a></li>
          <li><a href="#">Section 4</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
