<div>
<h3><%= @group.title %></h3>
<p>Description: <%= @group.description %></p>
<p>Created by: <%= @group.user.email %></p>

</div>

<% if signed_in? %>
<%= link_to "Edit", edit_group_path %>
<%= link_to "Delete", group_path(@group), method: :delete %>
<% end %>
