<div class="columns medium-12 text-center">


  <div>
    <h4><strong><%= @group.title %></strong></h4>
  </div>
  <div>
    <p>Description: <%= @group.description %></p>
    <p>Created by: <%= @group.user.sname %></p>
  </div>

  <% if signed_in? %>
    <div>
      <ul class="button-group">
        <li><%= link_to "Edit", edit_group_path(@group), class: "tiny button" %></li>
        <li><%= link_to "Delete", group_path(@group), method: :delete, class: "tiny button" %></li>
      </ul>
    </div>
  <% end %>
</div>


<% if signed_in? %>
  <%= form_for([@group, @group.posts.build]) do |f| %>
  <p>
    <%= f.label :body, "Post:" %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'Post'%>
  </p>
  <% end %>
<% end %>



<div>
  <h6>Latest posts:</h6>
</div>
<% if signed_in? %>
  <% @group.posts.each do |post| %>
    <% @user = User.all %>
    <p><%= @user.find(post.user_id).sname %>: <%= post.body %></p>
    <% if current_user.id == post.user_id %>
      <%= link_to "Edit Post", edit_group_post_path(@group, post) %>
      <%= link_to "Delete Post", group_post_path(@group, post), method: :delete %>
    <% end %>
  <% end %>
<% elsif %>
    <% @group.posts.each do |post| %>
    <p>
      <% @user = User.all %>
      <%= @user.find(post.user_id).sname %>: <%= post.body %>
    </p>

  <% end %>
<% end %>
