<div class="columns medium-12 text-center">


  <div>
    <h4><strong><%= @group.title %></strong></h4>
  </div>
  <div>
    <p>Description: <%= @group.description %></p>
    <p>Created by: <%= @group.user.sname %></p>
  </div>





  <% if signed_in? %>
    <div>
      <ul class="button-group">
        <li><%= link_to "Edit", edit_group_path(@group), class: "tiny button" %></li>
        <li><%= link_to "Delete", group_path(@group), method: :delete, class: "tiny button" %></li>
      </ul>
    </div>
  <% end %>
</div>


<% if signed_in? %>
  <%= form_for([@group, @group.posts.build]) do |f| %>
  <p>
    <%= f.label :body, "Post:" %>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit 'post'%>
  </p>
  <% end %>
<% end %>
