<div class="row row-spacing">

<div class="medium-12 columns ">
  <div class="panel radius user-panel-position">
    <h2 class="white-text"><%= @user.sname %></h2>
    <p class="white-text"><%= @user.email %></p>
  </div>
</div>

<div class="medium-12 columns">
  <div>
    <p><%= @user.sname %>'s recent posts</p>
  </div>
  <div class="medium-9 columns radius post-panel-position">
  <% @user_posts.each do |post| %>
  <div class="panel radius row user_name">
    <p class="post_show"><%= link_to post.group.title, group_path(post.group) %> Group</p>
    <img class="post-image"><%= image_tag(post.post_photo.postsize) %>
    <p class="post_show"><%= post.body %></p>
  </div>
  <div class="medium-12 ">
    <ul class="button-group inline-list right">
      <% if signed_in? %>
      <% if current_user.id == post.user_id %>
      <li><%= link_to "Edit Post", edit_post_path(post) %></li>
      <li><%= link_to "Delete Post", post_path(post), method: :delete %></li>
      <% end %>
      <% end %>
    </ul>
  </div>
  <hr/>
  <% end %>
  </div>

  <div class="medium-3 columns panel radius user-info-panel ">
    <p><%= image_tag @user.profile_photo.medium %></p>

    <div class="top-margin text-center">
      <h4><%= @user.sname %></h4>
      <hr/>
      <!-- <h4 class="title white-text">Groups</h4> -->
      &nbsp;
      <% current_user.groups.each do |group| %>
      <p><%= link_to group.title, group_path(group) %></p>
      <% end %>
    </div>

  </div>
</div>
  </div>
